<?php
/**
 * @var \Task\First\Block\Create $_product
 */
 $_product = $block->getProduct();
?>
<div>lalalal</div>
<div>
    <?php if(!empty($_product->getId()))?>
    <h1><?=__('Vendor')?></h1>
    <?php foreach ($block->getVendorData($_product->getId()) as $vendor): ?>
    <img src="<?=$vendor['url']?>" alt="<?=$vendor['alt']?>" title="="<?=$vendor['alt']?>"
        <h1><?= $vendor['name']?></h1>
    <?php endforeach;?>
</div>

<!---->
<?php
//$product = $block->getProduct();
//echo $product->;
//?>
